.catalog-nav {
    width: @mainMobileWidth;
    margin-top: -95px;
    .catalog-nav__item {
        width: @mainMobileWidth;
        height: 103px;
    }
    .catalog-nav__item:nth-child(1) {
        background-color: rgb(99, 209, 187);
        padding: 30px 186px 30px 28px;
        position: relative;
    }
    .catalog-nav__item:nth-child(2) {
        background-color: rgb(86, 195, 178);
        padding: 30px 202px 30px 30px;
    }
    .catalog-nav__item--interior {
        background-repeat: no-repeat;
        background-image: url(../img/icon-interior.svg);
        background-position: 243px 23px;
    }
    .catalog-nav__item--toys {
        background-repeat: no-repeat;
        background-image: url(../img/icon-toy.svg);
        background-position: 243px 23px;
    }
    .catalog-nav__link {
        color: rgb(255, 255, 255);
        font-size: 19px;
        line-height: @lineHeightLink;
    }
}
