
.catalogMixin() {
  background-repeat: no-repeat;
  background-position: 57% 23px;;
  text-align: center;
}
.catalog-nav__link--interior {
    .catalogMixin();
    background-image: url(../img/icon-interior.svg);
    background-color: rgb(99, 209, 187);
}
.catalog-nav__link--toys {
    .catalogMixin();
    background-image: url(../img/icon-toy.svg);
    background-color: rgb(86, 195, 178);
}
.catalog-nav__link {
    display: block;
    font-size: 19px;
    line-height: @lineHeightLink;
    height: 103px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-decoration: none;
    padding: 0;
    margin-top: 0px;
}
.catalog-nav__link:hover {
    height: 108px;
    margin-top: -5px;
}

.catalog-nav__wrapper:hover {
    padding-top: 22px;
}

.catalog-nav__wrapper {
    width: 320px;
    margin: 0 auto;
    padding: 27px 120px 27px 30px;
    text-align: left;
}
@media (min-width: 768px) {
    .catalog-nav {
    width: 100%;
    margin: 0 auto;
    display: flex;
    margin-top: 0;
}
    .catalog-nav__link {
        width: 50%;
    }
    .catalog-nav__wrapper {
        width: 334px;
        font-size: 20px;
        line-height: 30px;
    }
    .catalog-nav__link--interior, .catalog-nav__link--toys {
        background-position: 87% 33px;
    }

}
@media (min-width: 1150px) {
    .catalog-nav {
        width: 1150px;
        padding: 0 50px;
        margin-top: -120px;
    }
    .catalog-nav__link {
        width: 525px;
        height: 120px;
    }
    .catalog-nav__link:hover {
    height: 125px;
    margin-top: -5px;
}

.catalog-nav__wrapper:hover {
    padding-top: 22px;
}
    .catalog-nav__wrapper {
        padding: 27px 120px 27px 40px;
        margin: 0;
    }
    .catalog-nav__link--interior, .catalog-nav__link--toys {
        background-position: 93% 33px;
    }
}

