
.main-navigation__list {
  width: 320px;
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
  z-index: 1;
}
.main-navigation__item {
  list-style: none;
  text-align: left;
  padding: 28px 70px;
  min-height: 80px;
  border: 1px solid rgb(236, 236, 236);
}
.main-navigation__item a {
  text-decoration: none;
  color: @mainColor;
  font-weight: bold;
  font-family: @fontFamilyRegular;
  line-height: @lineHeightLink;
  display: block;
}
.main-navigation__item a:hover {
  color: rgb(141, 141, 141);
}
.main-navigation__item a:active {
  color: rgb(202, 202, 202);
}

.main-navigation__item--search {
  position: relative;
}
.main-navigation__search {
  content: '';
  position: absolute;
  z-index: 10;
  left: 30px;
  top: 40px;
  fill: rgb(211, 210, 210);
  &:hover {
    fill: rgb(99, 209, 187);
  }
  &:active {
    fill: rgb(208, 241, 234);
  }
}
.main-navigation__item--basket {
  position: relative;
}
.main-navigation__basket {
  position: absolute;
  z-index: 10;
  left: 30px;
  fill: rgb(211, 210, 210);
  &:hover {
    fill: rgb(99, 209, 187);
  }
  &:active {
    fill: rgb(208, 241, 234);
  }
}
.main-navigation__item--delivery {
  display: none;
}
.main-navigation__item--new, .main-navigation__item--sale {
  display: none;
}

.main-navigation {
  display: flex;
  flex-direction: column;
}
@media (max-width: 767px) {
   .main-navigation--closed .main-navigation__list {
    display: none;
  }
  .main-navigation--opened .main-navigation__list {
    display: block;
  }
  .main-navigation--opened .main-navigation__wrapper {
    position: absolute;
    z-index: 10;
  }
  .main-navigation--nojs .main-navigation__wrapper {
    position: static;
  }
  .main-navigation--nojs .main-navigation__list {
    display: block;
  }
}
@media (min-width: 768px) {
  .main-navigation__list {
    display: flex;
    position: static;
    width: 100%;
  }
  .main-navigation {
    position: static;
    display: block;
  }
  .main-navigation__wrapper {
    display: flex;
    flex-direction: column;
  }
  .main-navigation__list:nth-of-type(1) {
    order: 2;
    background: transparent;
  }
  .main-navigation__list:nth-of-type(2) {
    order: 1;
    justify-content: flex-end;
  }
  .main-navigation__list:nth-of-type(3) {
    display: none;
  }
  .main-navigation__item {
    border: none;
    font-size: 15px;
    line-height: 24px;
  }
  .main-navigation__toggler {
    display: none;
  }
  .main-navigation__item--basket {
    font-size: 17px;
    line-height: 24px;
    position: relative;
    padding: 35px 0px 28px 80px;
  }
  .main-navigation__item--search {
    position: relative;
    font-size: 0;
    width: 85px;
    height: 90px;
    padding: 0;
    border-left: 1px solid rgb(236, 236, 236);
    border-right: 1px solid rgb(236, 236, 236);
  }
  .main-navigation__item--catalog {
    padding: 20px 10px 28px 0px;
  }
  .main-navigation__item--order {
    padding: 20px 10px 28px 25px;
  }
}
@media (min-width: 1150px) {
  .main-navigation__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .main-navigation__list:nth-of-type(1) {
    order: 1;
    width: 50%;
  }
  .main-navigation__list:nth-of-type(2) {
    order: 2;
    width: 50%;
  }
  .main-navigation__list:nth-of-type(3) {
    display: flex;
    order: 3;
    background: transparent;
    width: 50%;
  }
  .main-navigation__list {
    min-height: 90px;
    display: flex;
  }
  .main-navigation__list .main-navigation__item--search {
    font-size: 0;
    width: 85px;
    height: 90px;
    padding: 0;
    border-left: 1px solid rgb(236, 236, 236);
    border-right: 1px solid rgb(236, 236, 236);
  }
  .main-navigation__item {
    font-size: 17px;
    line-height: 24px;
  }
  .main-navigation__item--new, .main-navigation__item--sale {
    display: block;
    font-size: 15px;
    line-height: 24px;
  }
  .main-navigation__item--catalog {
    padding: 35px 37px 28px 0px;
    border-right: 1px solid rgb(236, 236, 236);
  }
  .main-navigation__item--order {
    padding: 35px 55px 28px 34px;
  }
  .main-navigation__item--new {
    padding: 20px 62px 10px 0;
  }
  .main-navigation__item--sale {
    padding: 20px 10px 10px 0;
  }
  .main-navigation__item--basket {
    padding: 35px 3px 28px 80px;
  }
}
