.page-header {
  background-color: rgb(255, 255, 255);
  min-height: 80px;
}
.page-header__wrapper {
  .wrapper();
  position: relative;
  min-height: 80px;
  border-bottom: 1px solid rgb(236,236,236);
  border-top: 1px solid rgb(236,236,236);
}
.page-header__title {
    font-size: 0;
    }
.page-header__logo {
  position: absolute;
  top: 21px;
  left: 116px;
  bottom: 22px;
  right: 118px;
    }





