.popular-item__wrapper {
  .wrapper();
  padding: 0 30px;
}
.popular-item__title {
    font-size: 25px;
    line-height: 30px;
    margin: 0;
    padding-top: 29px;
}
.popular-item__week {
    color: rgb(99,209,187);
    font-weight: bold;
    margin: 0;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
}
.popular-item__descr {
    font-size: 15px;
    line-height: 24px;
    padding-top: 26px;
    padding-bottom: 20px;
    margin: 0;
}
.popular-item__picture {
    padding-bottom: 20px;
    padding-top: 28px;
}
.popular-item__price {
    font-weight: bold;
    line-height: 24px;
    font-size: 17px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}
.popular-item__btn {
    margin-top: 25px;
    padding: 14px 10px;
}
