.popular-item {
  width:@mainMobileWidth;
  .popular-item__wrapper {
    width: @wrapperWidth;
    margin: 0 auto;
    .popular-item__title {
      font-size: 25px;
      line-height:@lineHeightCaption;
      margin: 0;
      padding-top: 33px;
    }
    .popular-item__week {
      color: @colorGreen;
      font-weight: bold;
      margin: 0;
    }
    .popular-item__descr {
      font-size: 15px;
      line-height:@lineHeightLink;
      padding-top: 33px;
      padding-bottom: 30px;
      margin: 0;
    }
    .popular-item__picture {
      padding-bottom: 25px;
    }
    .popular-item__price {
      font-weight: bold;
      line-height: 24px;
      font-size: 17px;
      padding-left: 66px;
      padding-bottom: 26px;
    }
  }
}
