.review-slide__text {
    margin: 0;
    font-size: 15px;
    line-height: @lineHeightCaption;
}
.review-slide__author-name {
    font-size: @fontSizeBtn;
    line-height: @lineHeightLink;
    font-weight: bold;
    margin: 0;
    padding-top: 25px;
}
.review-slide__email {
    font-size: 17px;
    line-height: 20px;
    margin: 0;
    padding-top: 6px;
    padding-bottom: 35px;
}
@media (min-width: 768px) {
    .review-slide__text {
        font-size: 17px;
        line-height: 30px;
    }
    .review-slide {
        text-align: left;
        padding: 28px 10px 10px 0px;
        position: relative;
    }
    .review-slide__author-name {
        display: inline-block;
        padding: 55px 10px 0 0;
    }
}
@media (min-width: 1150px) {
    .review-slide {
        text-align: left;
        padding:  20px 100px 150px 177px;
        background-image: url(../img/bg-zigzag-line.svg);
        background-repeat: repeat-x;
        background-position-y: bottom;
        background-size: 800px;
    }
  .review-slide__author-name {
        display: inline-block;
        padding: 40px 10px 0 0;
    }
    .review-slide__email {
        padding-top: 8px;
    }
}

