.reviews {
    width: @mainMobileWidth;
    .reviews__wrapper {
        width: @wrapperWidth;
        margin: 0 auto;
        .reviews__title {
            .fontline();
        }
    }
    .reviews__prev {
        .btnPrevNext();
        background-image: url(../img/icon-left-arrow.svg);
    }
    .reviews__next {
        .btnPrevNext();
        background-image: url(../img/icon-right-arrow.svg);
    }
    .reviews__btn {
        .wrapper();
        margin-top: 37px;
    }
}
