.table-info {
    border-collapse: collapse;
    width: @wrapperWidth;
    .table-info__row {
        border-bottom: 2px solid rgb(236, 236, 236);
        td {
            padding-bottom: 10px;
        }
    }
}
