.btn {
  display: block;
  text-decoration: none;
  color: @colorBtn;
  font-size: @fontSizeBtn;
  line-height: @lineHeightBtn;
  border: 2px solid @colorBtn;
  min-height: 52px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  background-color: #ffffff;
}
.btn:hover {
  background-color: rgb(68, 68, 68);
  color: rgb(255, 255, 255);
}
.btn:active {
  color: rgb(141, 141, 141);
}
