.page-footer {
  width: 100%;
  min-height: 143px;
  background-color: rgb(241, 241, 241);
}
.page-footer__wrapper {
  width: 320px;
  padding: 0 30px;
  margin: 0 auto;
  background-color: rgb(241, 241, 241);
}
.page-footer__copyright {
  min-height: 80px;
  border-top: 1px solid #e5e5e5;
  padding-top: 20px;
  text-align: center;
  font-size: 0;
}
.page-footer__text {
  display: inline-block;
  vertical-align: middle;
  font-size: 19px;
  line-height: 18px;
  font-weight: bold;
  margin: 0;
  cursor: pointer;
  &:active {
    color: rgb(191, 191, 191);
  }
}
.page-footer__inner-link {
  display: inline-block;
  vertical-align: middle;
  width: 27px;
  height: 34px;
  margin-left: 30px;
  fill: rgb(99, 209, 187);
  &:hover {
    fill: rgb(70, 193, 174);
  }
  &:active {
    fill: rgb(189, 227, 221);
  }
}
.page-footer__logo {
  display: none;
}
@media (min-width: 768px) {
  .page-footer__logo {
    display: block;
    padding-top: 50px;
    width: 100px;
    height: 50px;
    &:hover {
      fill: rgb(70, 193, 174);
    }
    &:active {
      fill: rgb(189, 227, 221);
    }
  }
  .page-footer__wrapper {
    width: 768px;
    margin: 0 auto;
    padding: 0 50px;
    min-height: 143px;
    display: flex;
    justify-content: space-between;
  }
  .page-footer__copyright {
    border: none;
    padding: 0;
    padding-top: 55px;
  }
  .page-footer__logo--line {
    display: none;
  }
}
@media (min-width: 1150px) {
  .page-footer__wrapper {
    width: 1150px;
    padding: 0 50px;
  }
}
