.social-link {
    font-size: 0;
    margin: 0 20px;
    display: inline-block;
    vertical-align: middle;
}
.social-link--in {
    width: 22px;
    height: 22px;
    &:hover {
        fill:rgb(70,193,174);
    }
    &:active {
        fill:rgb(189,227,221);
    }
}

.social-link--fb {
    width: 15px;
    height: 29px;
    &:hover {
        fill:rgb(70,193,174);
    }
    &:active {
        fill:rgb(189,227,221);
    }
}
.social-link--tw {
    width: 24px;
    height: 20px;
    &:hover {
        fill:rgb(70,193,174);
    }
    &:active {
        fill:rgb(189,227,221);
    }
}
 