*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
  font-family: 'Open Sans', 'Source Sans Pro', sans-serif;
}
@import 'index/page-header.less';
@import 'index/main-navigation.less';
@import 'variables.less';
@import 'mixin.less';
@import 'index/main-descr.less';
@import 'index/catalog-nav.less';
@import 'index/popular-item.less';
@import 'index/btn.less';
@import 'index/table-info.less';
@import 'index/about-us.less';
@import 'index/reviews.less';
@import 'index/review-slide.less';
@import 'index/contacts.less';
@import 'index/page-footer.less';
@import 'index/social-links.less';
@import 'index/social-link.less';
