@mainColor:rgb(0,0,0);
@colorHover: rgb(102,102,102);
@colorLink:rgb(202,202,202);
@colorGreen: rgb(99,209,187);
@colorBtn: rgb(68, 68, 68);

@fontFamilyRegular:'Open Sans', 'Source Sans Pro',sans-serif;
@lineHeightCaption: 30px;
@lineHeightLink: 24px;
@fontSizeCaption:27px;
@fontSizeBtn:17px;
@lineHeightBtn: 20px;
@mainMobileWidth:320px;
@wrapperWidth: 260px;
