.order {
    width: @mainMobileWidth;
    .order__wrapper {
        .wrapper();
        .order-form__descr {
            font-size: 13px;
            line-height: @lineHeightLink;
            margin: 0;
            padding-top: 25px;
        }
        .order-form__section {
            .order-form__section-title {
                font-size: @fontSizeBtn;
                color: @colorGreen;
                line-height: 16px;
                font-weight: bold;
                margin: 0;
                padding-top: 25px;
                padding-bottom: 17px;
            }
            .order-form__radio+label {
                margin-left: 25px;
            }
            .order-form__checkbox+label {
                display: block;
                margin-left: 45px;
                margin-top: -20px;
            }
            .order-form__text-label {
                display: block;
                font-weight: bold;
            }
            .order-form__text,
            .order-form__tel,
            .order-form__email {
                border: none;
                border-bottom: 2px solid rgb(0, 0, 0);
            }
            input[value],
            .order-form__textarea {
                color: rgb(210, 210, 210);
            }
        }
        .order-form__field-required {
            font-size: 14px;
            line-height: 16px;
        }
    }
    .order-form__btn {
        padding: 20px 35px 16px 35px;
        background-color: rgb(255, 255, 255);
        margin-bottom: 39px;
    }
}

