.catalog-item {
    position: relative;
    border: 1px solid rgb(236, 236, 236);
    margin-bottom: 30px;
    margin-top: 30px;
    width: 260px;
}
.catalog-item__info-block {
    padding: 27px 25px 27px 27px;
}
.catalog-item__info-block:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, .1);
}
.catalog-item__info-block:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, .1);
}
.catalog-item__title {
    margin: 0;
    padding-bottom: 5px;
}
.catalog-item__img,
.catalog-item__img img {
    display: block;
}
.catalog-item__title a {
    font-size: @fontSizeBtn;
    line-height: @lineHeightLink;
    font-weight: bold;
    text-decoration: none;
    color: @mainColor;
    display: block;
    &:hover {
        color: rgb(141, 141, 141);
    }
    &:active {
        color: rgb(202, 202, 202);
    }
}
.catalog-item__descr {
    margin: 0;
    font-size: 13px;
    line-height: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(237, 237, 237);
}
.catalog-item__price {
    font-size: 15px;
    line-height: 24px;
    font-weight: bold;
    margin: 0;
    padding-top: 20px;
}
.catalog-item__btn-basket {
    position: absolute;
    bottom: 30px;
    right: 25px;
    ;
    display: block;
    width: 21px;
    height: 19px;
    fill: #d3d2d2;
    &:hover {
        fill: rgb(99, 209, 187);
    }
    &:active {
        fill: rgb(208, 241, 234);
    }
}
@media (min-width: 768px) {
    .catalog-item__img img {
        width: 334px;
        height: 334px;
    }
    .catalog-item__info-block {
        width: 334px;
        padding: 25px 28px;
        position: relative;
        min-height: 335px;
    }
    .catalog-item {
        display: flex;
        margin-top: 0;
        margin-bottom: 50px;
        min-height: 335px;
        width: 668px;
    }
    .catalog-item__title a {
        font-size: 20px;
        line-height: 24px;
    }
    .catalog-item__title {
        padding: 0 5px 5px 0px;
    }
    .catalog-item__descr {
        font-size: 15px;
        line-height: 30px;
        min-height: 230px;
        padding: 0;
        border: none;
        display: inline;
    }
    .catalog-item__price {
        font-size: 17px;
        line-height: 24px;
        padding: 23px 15px 0 5px;
    }
    .catalog-item__info-wrapper {
        min-height: 235px;
        border-bottom: 1px solid rgb(236, 236, 236);
    }
    .catalog-item__btn-basket {
        bottom: 35px;
        right: 30px;
    }
}
@media (min-width: 1150px) {
    .catalog-item {
        display: flex;
        flex-direction: column;
        min-height: 655px;
        width: 316px;
        margin-bottom: 55px;
    }
    .catalog-item:nth-of-type(2) {
        margin-right: 50px;
        margin-left: 50px;
    }
    .catalog-item__descr {
        display: inline;
    }
    .catalog-item__img img {
        width: 316px;
        height: 460px;
    }
    .catalog-item__info-block {
        width: 315px;
        min-height: 197px;
        padding: 27px 28px 25px 28px;
    }
    .catalog-item__info-wrapper {
        min-height: 100px;
        border-bottom: 1px solid rgb(236, 236, 236);
    }
    .catalog-item__title {
        padding: 0 5px 5px 0;
    }
    .catalog-item__price {
        padding: 23px 15px 0 0px;
    }
}