
.title {
    .wrapper();
    background-color: rgb(241, 241, 241);
    padding: 0 30px;
    min-height: 177px;
}
.title__catalog,
.title__order {
    font-size: 27px;
    line-height: 30px;
    margin: 0;
    text-align: center;
    padding: 70px 10px 70px 10px;
}
.title__list {
    display: none;
}
@media (min-width: 768px) {
    .title {
        width: 768px;
        margin: 0 auto;
        padding: 0 50px;
        min-height: 215px;
    }
    .title__catalog, .title__order {
        padding: 100px 20px 70px;
        font-size: 43px;
        line-height: 50px;
    }
}
    @media (min-width: 1150px) {
    .title {
        width: 1150px;
        padding: 0 50px;
        margin: 0 auto;
        }
    .title__catalog, .title__order {
        font-size: 53px;
        line-height: 57px;
  }
}
