.title {
    width: @mainMobileWidth;
    height: 177px;
    background-color: rgb(241, 241, 241);
    .title__catalog {
        font-size: @fontSizeCaption;
        line-height: @lineHeightCaption;
        margin: 0;
        padding-left: 40px;
        padding-top: 70px;
    }
}
